<section class="breadcrumb-osahan pt-5 pb-5 bg-dark position-relative text-center">
  <h1 class="text-white">Offers Near You</h1>
  <h6 class="text-white-50">Best deals at your favourite restaurants</h6>
</section>
<section class="section pt-5 pb-5 products-listing">
  <div class="container">
    <!-- <div class="row d-none-m">
      <div class="col-md-12">
        <div class="dropdown float-right">
          <a class="btn btn-outline-info dropdown-toggle btn-sm border-white-btn" href="javascript:;" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by: <span class="text-theme">Distance</span> &nbsp;&nbsp;
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow-sm border-0 ">
            <a class="dropdown-item" href="#">Distance</a>
            <a class="dropdown-item" href="#">No Of Offers</a>
            <a class="dropdown-item" href="#">Rating</a>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-6 mb-4 pb-2">
            <app-listing-card></app-listing-card>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 pb-2">
            <app-listing-card></app-listing-card>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 pb-2">
            <app-listing-card></app-listing-card>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 pb-2">
            <app-listing-card></app-listing-card>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 pb-2">
            <app-listing-card></app-listing-card>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 pb-2">
            <app-listing-card></app-listing-card>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 pb-2">
            <app-listing-card></app-listing-card>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 pb-2">
            <app-listing-card></app-listing-card>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 pb-2">
            <app-listing-card></app-listing-card>
          </div>
          <div class="col-md-12 text-center load-more">
            <button class="btn btn-primary" type="button">
              <!-- <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> -->
              Load More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
