<a class="nav-link dropdown-toggle" href="javascript:;" (click)="toggleCart()">
  <i class="fas fa-shopping-basket"></i> Cart
  <span class="badge badge-success">{{ checkout.length }}</span>
</a>
<div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0" [class]="showCart ? 'show' : null" *ngIf="checkout.length">
  <div class="dropdown-cart-top-header p-4">
    <h6 class="mb-0">My Cart</h6>
  </div>
  <div class="dropdown-cart-top-body border-top p-4" *ngFor="let item of checkout; index as i">
    <p class="mb-2">{{ item.itemname }} x {{ item.quantity }}
      <span class="float-right text-secondary">${{ item.totalPrice }}</span></p>
  </div>
  <div class="dropdown-cart-top-footer border-top p-4">
    <p class="mb-0 font-weight-bold text-secondary">Sub Total <span class="float-right text-dark">${{ total }}</span>
    </p>
    <small class="text-info">Extra charges may apply</small>
  </div>
  <div class="dropdown-cart-top-footer border-top p-2">
    <a class="btn btn-success btn-block btn-lg" routerLink="/checkout"> Checkout</a>
  </div>
</div>