<ng-container *ngIf="store; else loader">
  <div class="details">
    <section class="restaurant-detailed-banner">
      <div class="text-center">
        <img class="img-fluid cover" src="assets/img/mall-dedicated-banner.png">
      </div>
      <div class="restaurant-detailed-header">
        <div class="container">
          <div class="row d-flex align-items-end">
            <div class="col-md-8">
              <div class="restaurant-detailed-header-left">
                <img class="img-fluid mr-3 float-left" alt="osahan" src="assets/img/1.jpg">
                <h2 class="text-white">{{ store.storeName }}</h2>
                <p class="text-white mb-1"><i class="icofont-location-pin"></i> {{ store.storeAddress }}, {{ store.storeCity }} {{ store.storeZip }} <span
                    class="badge badge-success">{{ store.open ? 'Open' : 'Closed' }}</span>
                </p>
                <p><i class="icofont-phone"></i><a  class="text-white" [href]="'tel:' + store.storePhone"> {{ store.storePhone }}</a></p>
                <!-- <p class="text-white mb-0"><i class="icofont-food-cart"></i> North Indian, Chinese, Fast Food, South
                  Indian
                </p> -->
              </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="restaurant-detailed-header-right text-right">
                <button class="btn btn-success" type="button"><i class="icofont-clock-time"></i> 25–35 min
                </button>
                <h6 class="text-white mb-0 restaurant-detailed-ratings"><span class="generator-bg rounded text-white"><i
                      class="icofont-star"></i> 3.1</span> 23 Ratings <i class="ml-3 icofont-speech-comments"></i> 91
                  reviews</h6>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="offer-dedicated-nav bg-white border-top-0 shadow-sm" stickyScroll>
      <div class="container">
        <div class="row">
          <div class="col-md-12 categories">
            <ul class="nav" id="pills-tab" role="tablist">
              <ng-container *ngFor="let department of store.departments; index as i">
                <li class="nav-item" *ngIf="department.items.length">
                  <a class="nav-link" [class]="currentPage === i ? 'active' : null" href="javascript:;"
                    (click)="navigatePage(i)">{{ department.deptName }}</a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="offer-dedicated-body pt-2 pb-2 mt-4 mb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8 details-items">
            <div class="offer-dedicated-body-left">
              <ng-container *ngFor="let department of store.departments; index as i">
                <div *ngIf="department.items.length" class="row" InViewport (visibilityChange)="onAppear($event, i)" [id]="'page-' + i">
                  <h5 class="mb-4 mt-3 col-md-12">{{ department.deptName }} <small class="h6 text-black-50">{{ department.items.length }} {{ department.items.length > 1 ? 'ITEMS' : 'ITEM' }}</small></h5>
                  <div class="col-md-12">
                    <div class="bg-white rounded border shadow-sm mb-4">
                      <div *ngFor="let item of department.items; index as j" [class]="{ 'border-bottom': j > 0 }">
                        <app-details-item [store]="store" [item]="item"></app-details-item>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- Checkout bill -->
          <div class="col-md-4">
            <app-checkout-menu [isFixed]="screenMode === 'small'" [buttonText]="'Checkout'" [showPromo]="false" [nextPageLink]="'/checkout'"></app-checkout-menu>
          </div>
          <!-- End of Checkout bill -->
        </div>
      </div>
    </section>
  
  </div>
</ng-container>
<ng-template #loader>
  <div class="loading-overlay">
    <div class="spinner"></div>
  </div>
</ng-template>
