<div class="close-wrapper">
  <button class="close" mat-dialog-close>
    X
  </button>
</div>
<h2 mat-dialog-title>{{ item.itemname }}</h2>
<div class="pt-2"></div>
<mat-dialog-content class="mat-typography">
  <div class="img-wrapper">
    <img [src]="item.imgUrl" />
  </div>
  <div class="pt-2"></div>
  <p *ngIf="item.desc"> {{ item.desc }} </p>
  <ng-container *ngFor="let modifier of item.modifiers; index as i">
    <div class="option-section" *ngIf="modifier.modifierItems?.length">
      <div class="option-section-header">
        <h4 class="option-header">{{ modifier.modifierGroupName }}</h4>
        <div class="option-status">
          Required
          <ng-container *ngIf="modifier.minItems < modifier.maxItems"> - Choose {{ modifier.maxItems }} {{ modifier.maxItems > 1 ? 'Items' : 'Item' }}</ng-container>
        </div>
      </div>
      <div class="option-list">
        <div class="option-list-item" *ngFor="let modifierItem of modifier.modifierItems; index as j">
          <label [for]="modifier.id + '-' + modifierItem.id">
            <input *ngIf="modifier.isMultiple" type="checkbox" [name]="modifier.modifierGroupName" [id]="modifier.id + '-' + modifierItem.id" [checked]="modifierItem.isSelected" [disabled]="modifier.isDisabled" (change)="selectModifier(i, j)">
            <span class="option-list-item-name">{{ modifierItem.modifier_name }}</span>
          </label>
        </div>
      </div>
      <p class="error" *ngIf="!modifier.isValid">{{ modifier.errorMessage }}</p>
    </div>
  </ng-container>
  <div class="pt-2"></div>
  <div class="special-instruction">
    <h4>Special Instructions</h4>
    <textarea class="special-instruction-text" [(ngModel)]="item.specialInstructions"></textarea>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="footer-btn-wrapper">
    <a class="btn btn-outline-secondary btn-sm float-right" href="javascript:;" (click)="submit()">Add to Order ${{ calculatedPrice }}</a>
  </div>
</mat-dialog-actions>
