<div class="container">
  <div class="pt-4"></div>
  <div class="col-md-12">
    <div class="offer-dedicated-body-left">
      <div class="bg-white rounded shadow-sm p-4 mb-4">
          <h4 class="mb-3">Select Delivery Type</h4>
          <div class="form-group mb-0 col-md-12 mb-3">
            <div class="btn-group btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
              <label class="btn btn-info" [class]="deliveryType === 'pickup' ? 'active' : null">
                <input type="radio" name="options" value="pickup" id="option2" autocomplete="off" [ngModel]="deliveryType" (ngModelChange)="changeDeliveryType($event)"> Pickup
              </label>
              <label class="btn btn-info" [class]="deliveryType === 'delivery' ? 'active' : null">
                <input type="radio" name="options" value="delivery" id="option1" autocomplete="off" [ngModel]="deliveryType" (ngModelChange)="changeDeliveryType($event)"> Delivery
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="addressForm">
                <div class="form-row">
                    <div class="form-group col-md-12">
                      <label>Name
                      </label>
                      <input type="text" formControlName="name" class="form-control" placeholder="Name">
                      <p class="error-message" *ngIf="addressForm.controls['name'].touched && addressForm.controls['name'].errors?.['required']">Name is required</p>
                    </div>
                    <div class="form-group col-md-12">
                      <label>Email
                      </label>
                      <input type="email" formControlName="email" class="form-control" placeholder="Email address">
                      <p class="error-message" *ngIf="addressForm.controls['email'].touched && addressForm.controls['email'].errors?.['required']">Email is required</p>
                      <p class="error-message" *ngIf="addressForm.controls['email'].touched && addressForm.controls['email'].errors?.['email'] && addressForm.controls['email'].value">Email is invalid</p>
                    </div>
                    <div class="form-group col-md-12">
                      <label>Phone Number
                      </label>
                      <input type="text" formControlName="phone" class="form-control" placeholder="Phone Number">
                      <p class="error-message" *ngIf="addressForm.controls['phone'].touched && addressForm.controls['phone'].errors?.['required']">Phone is required</p>
                      <p class="error-message" *ngIf="addressForm.controls['phone'].touched && addressForm.controls['phone'].errors?.['pattern'] && addressForm.controls['phone'].value">Phone is invalid</p>
                    </div>
                    <ng-container *ngIf="deliveryType === 'delivery'">
                      <div class="form-group col-md-12">
                        <label>Address
                        </label>
                        <input type="text" formControlName="address" class="form-control" placeholder="Complete Address e.g. house number, street name, landmark">
                        <p class="error-message" *ngIf="addressForm.controls['address'].touched && addressForm.controls['address'].errors?.['required']">Address is required</p>
                      </div>
                      <div class="form-group col-md-12">
                        <label>Zip
                        </label>
                        <input type="number" formControlName="zip" class="form-control" placeholder="Pincode">
                        <p class="error-message" *ngIf="addressForm.controls['zip'].touched && addressForm.controls['zip'].errors?.['required']">Zip is required</p>
                      </div>
                    </ng-container>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="pb-2"></div>
  <div class="bg-white rounded shadow-sm p-4 osahan-payment">
    <h4 class="mb-1">Payment</h4>
    <h6 class="mb-3 text-black-50">Credit/Debit Cards</h6>
    <div class="row">
      <div class="col-sm-12 pl-0 pb-5">
        <lib-te-connect-ng #teconnectng (teResponse)="submitPayment($event)"></lib-te-connect-ng>
        <div class="button-wrapper">
          <button class="btn btn-outline-secondary btn-sm" type="button" (click)="teconnectng.createPayment()">Pay Order</button>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-5"></div>
</div>
