<div class="generator-bg rounded shadow-sm mb-4 p-4 osahan-cart-item">
  <div class="d-flex mb-4 osahan-cart-item-profile">
    <div class="d-flex flex-column">
      <h6 class="mb-1 text-white">My Cart
      </h6>
    </div>
  </div>
  <div class="bg-white rounded shadow-sm mb-2">
    <ng-container *ngIf="checkout.length; else noItems">
      <div class="gold-members p-2 border-bottom" *ngFor="let item of checkout; index as i">
        <p class="text-gray mb-0 float-right ml-2">${{ item.totalPrice }}</p>
        <span class="count-number float-right">
          <button class="btn btn-outline-secondary  btn-sm left dec" (click)="decreaseItem(i)"> <i class="icofont-minus"></i> </button>
          <input class="count-number-input" type="text" [value]="item.quantity" readonly="">
          <button class="btn btn-outline-secondary btn-sm right inc" (click)="increaseItem(i)"> <i class="icofont-plus"></i> </button>
        </span>
        <div class="media">
          <div class="media-body">
            <p class="mt-1 mb-0 text-black">{{ item.itemname }}</p>
            <p class="mt-1 mb-0 text-gray" *ngIf="item.itemText"><span class="bold">Addons:</span> {{ item.itemText }} </p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noItems>
        <div class="media">
          <div class="media-body">
            <p class="mt-1 mb-0 text-black no-text-padding">Please add item(s) to your cart.</p>
          </div>
        </div>
    </ng-template>
  </div>
  <div class="mb-2 bg-white rounded p-2 clearfix" *ngIf="showPromo">
    <div class="input-group input-group-sm mb-2">
      <input type="text" class="form-control" placeholder="Enter promo code">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="button-addon2"><i class="icofont-sale-discount"></i>
          APPLY</button>
      </div>
    </div>
    <div class="input-group mb-0">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icofont-comment"></i></span>
      </div>
      <textarea class="form-control" placeholder="Any suggestions? We will pass it on..."
        aria-label="With textarea"></textarea>
    </div>
  </div>
  <div class="mb-2 bg-white rounded p-2 clearfix" *ngIf="checkout.length">
    <p class="mb-1">Item Total <span class="float-right text-dark">${{ total }}</span></p>
    <p class="mb-1">Tax <span class="float-right text-dark">${{ taxAmount }}</span></p>
    <!-- <p class="mb-1">Delivery Fee <span class="text-info" data-toggle="tooltip" data-placement="top"
        title="Total discount breakup">
        <i class="icofont-info-circle"></i>
      </span> <span class="float-right text-dark">$10</span>
    </p> -->
    <!-- <p class="mb-1 text-success">Total Discount
      <span class="float-right text-success">$1884</span>
    </p> -->
    <hr />
    <h6 class="font-weight-bold mb-0">TO PAY <span class="float-right">${{ totalAfterTax }}</span></h6>
  </div>
  <a [routerLink]="nextPageLink" class="btn btn-success btn-block btn-lg" *ngIf="checkout.length">{{ buttonText }} <ng-container *ngIf="showTotalText">${{ totalAfterTax }}</ng-container>
  <i class="icofont-long-arrow-right"></i></a>
</div>
