<div class="homepage-header">
  <div class="overlay"></div>
  <section class="pt-5 pb-5 homepage-search-block position-relative">
    <div class="banner-overlay"></div>
    <div class="container">
      <div class="row d-flex align-items-center py-lg-4">
        <div class="col-lg-8 mx-auto">
          <div class="homepage-search-title text-center">
            <h1 class="mb-2 display-4 text-shadow text-white font-weight-normal"><span class="font-weight-bold">Discover
                the best food & drinks
              </span></h1>
            <h5 class="mb-5 text-shadow text-white-50 font-weight-normal">Lists of all restaurants, cafes, pubs, and
              bars</h5>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
<section class="section pt-5 pb-5 products-section">
  <div class="container">
    <div class="section-header text-center">
      <h2>Popular Brands</h2>
      <p>Top restaurants, cafes, pubs, and bars in based on trends</p>
      <span class="line"></span>
    </div>
    <div class="row">
      <ng-container *ngIf="stores.length; else loader">
        <div class="col-md-3 mb-3" *ngFor="let store of stores; index as i;">
          <app-home-card [store]="store"></app-home-card>
        </div>
      </ng-container>
      <ng-template #loader>
        <div class="spinner-wrapper">
          <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50" class="example-margin">
          </mat-progress-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</section>
