<div class="homepage-header">
  <div class="overlay"></div>
  <section class="pt-5 pb-5 homepage-search-block position-relative">
    <div class="banner-overlay"></div>
    <div class="container">
      <div class="row d-flex align-items-center py-lg-4">
        <div class="col-lg-8 mx-auto">
          <div class="homepage-search-title text-center">
            <h1 class="mb-2 display-4 text-shadow text-white font-weight-normal"><span class="font-weight-bold">Discover
                the best food & drinks in India 🇮🇳
              </span></h1>
            <h5 class="mb-5 text-shadow text-white-50 font-weight-normal">Lists of top restaurants, cafes, pubs, and
              bars
              in Melbourne, based on trends</h5>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
<section class="section pt-5 pb-5 products-section">
  <div class="container">
    <div class="section-header text-center">
      <h2>Popular Brands</h2>
      <p>Top restaurants, cafes, pubs, and bars in Ludhiana, based on trends</p>
      <span class="line"></span>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
          <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
            <div class="list-card-image">
              <div class="star position-absolute"><span class="badge badge-success"><i class="icofont-star"></i> 3.1
                  (300+)</span></div>
              <div class="favourite-heart text-danger position-absolute"><a routerLink="/details/1"><i
                    class="icofont-heart"></i></a></div>
              <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span></div>
              <a routerLink="/details/1">
                <img src="assets/img/list/1.png" class="img-fluid item-img">
              </a>
            </div>
            <div class="p-3 position-relative">
              <div class="list-card-body">
                <h6 class="mb-1"><a routerLink="/details/1" class="text-black">World Famous</a></h6>
                <p class="text-gray mb-3">North Indian • American • Pure veg</p>
                <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                      class="icofont-wall-clock"></i> 20–25 min</span> <span class="float-right text-black-50"> $250
                    FOR TWO</span></p>
              </div>
              <div class="list-card-badge">
                <span class="badge badge-success">OFFER</span> <small>65% off | Use Coupon OSAHAN50</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
            <div class="list-card-image">
              <div class="star position-absolute"><span class="badge badge-warning"><i class="icofont-star"></i> 3.1
                  (300+)</span></div>
              <div class="favourite-heart text-danger position-absolute"><a routerLink="/details/1"><i
                    class="icofont-heart"></i></a></div>
              <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span></div>
              <a routerLink="/details/1">
                <img src="assets/img/list/3.png" class="img-fluid item-img">
              </a>
            </div>
            <div class="p-3 position-relative">
              <div class="list-card-body">
                <h6 class="mb-1"><a routerLink="/details/1" class="text-black">Bite Me Sandwiches</a></h6>
                <p class="text-gray mb-3">North Indian • Indian • Pure veg</p>
                <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                      class="icofont-wall-clock"></i> 15–25 min</span> <span class="float-right text-black-50"> $100
                    FOR TWO</span></p>
              </div>
              <div class="list-card-badge">
                <span class="badge badge-danger">OFFER</span> <small>65% off | Use Coupon OSAHAN50</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
            <div class="list-card-image">
              <div class="star position-absolute"><span class="badge badge-success"><i class="icofont-star"></i> 3.1
                  (300+)</span></div>
              <div class="favourite-heart text-danger position-absolute"><a routerLink="/details/1"><i
                    class="icofont-heart"></i></a></div>
              <div class="member-plan position-absolute"><span class="badge badge-danger">Promoted</span></div>
              <a routerLink="/details/1">
                <img src="assets/img/list/6.png" class="img-fluid item-img">
              </a>
            </div>
            <div class="p-3 position-relative">
              <div class="list-card-body">
                <h6 class="mb-1"><a routerLink="/details/1" class="text-black">The osahan Restaurant
                  </a>
                </h6>
                <p class="text-gray mb-3">North • Hamburgers • Pure veg</p>
                <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                      class="icofont-wall-clock"></i> 15–25 min</span> <span class="float-right text-black-50"> $500
                    FOR TWO</span></p>
              </div>
              <div class="list-card-badge">
                <span class="badge badge-danger">OFFER</span> <small>65% off | Use Coupon OSAHAN50</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
            <div class="list-card-image">
              <div class="star position-absolute"><span class="badge badge-success"><i class="icofont-star"></i> 3.1
                  (300+)</span></div>
              <div class="favourite-heart text-danger position-absolute"><a routerLink="/details/1"><i
                    class="icofont-heart"></i></a></div>
              <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span></div>
              <a routerLink="/details/1">
                <img src="assets/img/list/8.png" class="img-fluid item-img">
              </a>
            </div>
            <div class="p-3 position-relative">
              <div class="list-card-body">
                <h6 class="mb-1"><a routerLink="/details/1" class="text-black">Polo Lounge
                  </a>
                </h6>
                <p class="text-gray mb-3">North Indian • Indian • Pure veg</p>
                <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                      class="icofont-wall-clock"></i> 15–25 min</span> <span class="float-right text-black-50"> $250
                    FOR TWO</span></p>
              </div>
              <div class="list-card-badge">
                <span class="badge badge-danger">OFFER</span> <small>65% off | Use Coupon OSAHAN50</small>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
